
#Ignore environment variables file
.env                                                                                                                                                                

# Ignore virtual environment
venv/


# Ignore all files inside the folder
gdrive_credentials/*

# But don't ignore the folder itself
!gdrive_credentials/