

# Environment variables
.env

# Virtual environment
venv/

# Google Drive credentials (ignore all JSON files inside)
gdrive_credentials/*.json

# Node modules
node_modules/

# Build artifacts
static/css/output.css
