@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
}

@layer base {
  body {
    font-family: 'Karla', sans-serif;
  }
}


.bg-silhouette-overlay {
  background-color: rgba(0, 0, 0, 0.5);        /* dark overlay */
  backdrop-filter: grayscale(100%) blur(1px);  /* silhouette effect */
}