{% extends 'index.html' %}
{% load static %}


{% block content %}
    <h1>Login</h1>
    
    <h1 class="text-3xl font-bold text-blue-600">Tailwind is working!</h1>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <p style="margin-top: 10px;">
        <a href="{% url 'forgot_password' %}">Forgot your password?</a>
    </p>
    
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}
